---

- name: Create JupyterHub user
  ansible.builtin.include_tasks: jupyterhub_user.yml

- name: Install dependencies
  ansible.builtin.include_tasks: dependencies.yml

- name: Configure JupyterHub
  ansible.builtin.include_tasks: configuration.yml

- name: Create JupyterHub service
  ansible.builtin.include_tasks: systemd.yml

- name: Install and configure conda
  ansible.builtin.include_tasks: conda.yml

- name: Install and configure nginx
  ansible.builtin.include_tasks: nginx.yml
