---

- name: Set fact is_container
  ansible.builtin.set_fact:
    is_container: true
  when: >
    (ansible_virtualization_type is defined and
      (ansible_virtualization_type == "docker"
       or ansible_virtualization_type == "containerd"
       or ansible_virtualization_type == "container"
      )
    )

- name: Create JupyterHub user
  include_tasks: jupyterhub_user.yml

- name: Install dependencies
  include_tasks: dependencies.yml

- name: Configure JupyterHub
  include_tasks: configuration.yml

- name: Create JupyterHub service
  include_tasks: systemd.yml

- name: Install and configure conda
  include_tasks: conda.yml

- name: Install and configure nginx
  include_tasks: nginx.yml
