---

- name: Write jupyterhub unit file
  ansible.builtin.template:
    dest: /etc/systemd/system/jupyterhub.service
    src: jupyterhub.service.j2
    mode: '0644'
  notify:
    - Systemd daemon-reload
    - Restart jupyterhub
