---
# handlers file for jupyterhub

- name: Systemd daemon-reload
  ansible.builtin.systemd:
    daemon_reload: true

- name: Restart jupyterhub
  ansible.builtin.systemd:
    name: jupyterhub.service
    state: restarted
    enabled: true

- name: Restart nginx
  ansible.builtin.service:
    name: nginx
    state: restarted
