---
# handlers file for jupyterhub

- name: Systemd daemon-reload
  systemd:
    daemon_reload: yes

- name: Restart jupyterhub
  systemd:
    name: jupyterhub.service
    state: restarted
    enabled: yes

- name: Restart nginx
  service:
    name: nginx
    state: restarted
