[Unit]
Description=JupyterHub
After=syslog.target network.target

[Service]
User={{ jupyterhub_username }}
Environment="PATH=/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ jupyterhub_virtualenv_bin }}"
ExecStart={{ jupyterhub_virtualenv_bin }}/jupyterhub -f {{ jupyterhub_config_file }}

[Install]
WantedBy=multi-user.target
